@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Zen+Loop:ital@0;1&display=swap");

@import "tailwindcss";
@import "tailwindcss/utilities";

@theme {
  --color-body: rgba(206, 211, 205, 1);
  /* --color-body: #000; */
  --color-primary: #fff;
  --color-secondary: #fff;

  --color-hero-overlay: rgba(129, 129, 129, 0.78);
  --color-secondary-overlay: rgba(54, 54, 54, 0.56);
  --color-third-overlay: rgba(54, 54, 54, 0.56);
  --color-glamping-link: rgba(130, 155, 151, 1);
  --color-title-bg: rgba(197, 180, 150, 1);
  --color-testimonials-bg: rgba(130, 155, 151, 1);
  --color-footer-bg: rgba(42, 79, 87, 1);
  --color-about-bg: rgba(42, 79, 87, 1);
  --color-menu-bg: rgba(130, 155, 151, 1);
  --color-menu-bg: #829b97;
  
  --color-button-bg: rgba(130, 155, 151, 1);
  --color-button-hover-bg: rgba(104, 124, 121, 1);

  --font-nanum: "Nanum Gothic", sans-serif;
  --font-zen: "Zen Loop", cursive;
}

:root {
  --font-gothic: "Nanum Gothic", sans-serif;
}

html {
  font-family: var(--font-gothic);
}

/* 
Ophold
Kontakt
Aktiviteter
Min liste
Backoffice */
