@import "tailwindcss";
@import "./styles/fonts.css";

@theme {
  --color-body: rgba(206, 211, 205, 1);
  --color-primary: #fff;
  --color-secondary: #fff;

  --color-hero-overlay: rgba(129, 129, 129, 0.78);
  --color-secondary-overlay: rgba(54, 54, 54, 0.56);
  --color-third-overlay: rgba(54, 54, 54, 0.56);
  --color-glamping-link: rgba(130, 155, 151, 1);
  --color-title-bg: rgba(197, 180, 150, 1);
  --color-testimonials-bg: rgba(130, 155, 151, 1);
  --color-footer-bg: rgba(42, 79, 87, 1);
  --color-menu-bg: rgba(130, 155, 151, 1);
}

:root {
  --font-gothic: "Nanum Gothic", sans-serif; 
}

html {
  font-family: var(--font-gothic);
}
